<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          Phone: {{ site.telephone_number }} <br>
          Fax: {{ site.fax_number }} <br>
          Email: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="https://www.google.com/maps/contrib/115589398411421032318/photos/"> Google Maps Profile</a></p>
        <p><a href="https://www.instagram.com"> Instagram</a></p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> Socialize</h3>
        <div id="social-icons">

          {% if site.linkedin_link %}
            <a href="{{ site.linkedin_link }}" class="btn-group linkedin">
              <i class="fa fa-linkedin-square"></i>
            </a>
          {% endif %}

          {% if site.facebook_link %}
            <a href="{{ site.twitter_link }}" class="btn-group twitter">
              <i class="fa fa-twitter"></i>
            </a>
          {% endif %}

          {% if site.facebook_link %}
            <a href="{{ site.facebook_link }}" class="btn-group facebook">
              <i class="fa fa-facebook"></i>
            </a>
          {% endif %}
          
          {% if site.instagram_link %}
            <a href="{{ site.instagram_link }}" class="btn-group instagram">
              <i class="fa fa-instagram"></i>
            </a>
          {% endif %}
          
          {% if site.tumblr_link %}
            <a href="{{ site.tumblr_link }}" class="btn-group tumblr">
              <i class="fa fa-tumblr"></i>
            </a>
          {% endif %}
          
          {% if site.pinterest_link %}
            <a href="{{ site.pinterest_link }}" class="btn-group pinterest">
              <i class="fa fa-pinterest"></i>
            </a>
          {% endif %}
        </div>
      </div>    
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="https://www.tourcoaster.com">TourCoaster</a>. <br>Theme by <a href="http://w3n.co" target="_blank">W3N</a></p>
  </div>
</footer>
